<h2 class="text-dark">Get your slave today!</h2>
<div class="container m-5 ">
    <div class="row bg-dark text-white">
        <div class="col">Customer Name</div>
        <div class="col">Cognome</div>
        <div class="col">Nome</div>
        <div class="col">Telefono</div>
        <div class="col">Indirizzo 1</div>
        <div class="col">Indirizzo 2</div>
        <div class="col">Città</div>
        <div class="col">Regione</div>
        <div class="col">Codice Postale</div>
        <div class="col">Paese</div>
        <div class="col">Limite di Credito</div>
    </div>
    <div class="col bg-white text-dark d-flex">
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.customerName"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.contactLastName"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.contactFirstName"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.phone"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.addressLine1"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.addressLine2"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.city"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.state"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.postalCode"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.country"></div>
        <div class="row"><input type="text" [(ngModel)]="nuovoCliente.creditLimit"></div>
    </div>
    <button class="btn btn-dark m-2" routerLink="/">Home</button>
    <button class="btn btn-dark m-2" (click)="aggiungiCliente()">Add</button>
</div>




<div class="m-5">
    <div class="row  form-row m-3">
        <div class="col form-group">
            <label class="">Customer Name</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.customerName">
        </div>
        <div class="col form-group">
            <label>Cognome</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.contactLastName">
        </div>
        <div class="col form-group">
            <label>Nome</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.contactFirstName">
        </div>
    </div>

    <div class="row  form-row m-3">
        <div class="col form-group">
            <label>Telefono</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.phone">
        </div>
        <div class="col form-group">
            <label>Indirizzo 1</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.addressLine1">
        </div>
        <div class="col form-group">
            <label> Indirizzo 2</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.addressLine2">
        </div>
    </div>

    <div class="row  form-row m-3">
        <div class="col form-group">
            <label>Città</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.city">
        </div>
        <div class="col form-group">
            <label>Regione</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.state"></div>
       
        <div class="col form-group">
            <label> Codice Postale </label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.postalCode">
        </div>
    </div>

    <div class="row  form-row m-3">
        <div class="col form-group">
            <label>Paese</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.country">
        </div>
        <div class="col form-group">
            <label>Limite di Credito</label>
            <input class="form-control" type="text" [(ngModel)]="nuovoCliente.creditLimit">
    </div>
</div>