<!-- <div class="card">
  <div class="card-header">
    <h3>Aggiungi dipendente</h3>
  </div>
  <div class="card-body">
    <article class="container">
      <section class="row">

        <div class="col my-2">
          <label for="employeeNumber">Numero dipendente</label>
          <input name="employeeNumber" class="form-control" type="text" [(ngModel)]="employee.employeeNumber">
        </div>
        <div class="col my-2">
          <label for="firstName">Nome</label>
          <input name="firstName" class="form-control" type="text" id="firstName" [(ngModel)]="employee.firstName">
        </div>
        <div class="col my-2">
          <label for="lastName">Cognome</label>
          <input name="lastName" class="form-control" type="text" id="lastName" [(ngModel)]="employee.lastName">
        </div>

        <div class="col my-2">
          <label for="extension">Estensione</label>
          <input name="extension" class="form-control" type="text" id="extension" [(ngModel)]="employee.extension">
        </div>
        <div class="col my-2">
          <label for="officeCode">Codice ufficio</label>
          <input name="officeCode" class="form-control" type="text" id="officeCode" [(ngModel)]="employee.officeCode">
        </div>
        <div class="col my-2">
          <label for="email">Email</label>
          <input name="email" class="form-control" type="text" id="email" [(ngModel)]="employee.email">
        </div>

        <div class="col my-2">
          <label for="reportsTo">Riferisce a </label>
          <input name="reportsTo" class="form-control" type="text" id="reportsTo" [(ngModel)]="employee.reportsTo">
        </div>
        <div class="col my-2">
          <label for="jobTitle">Lavoro</label>
          <input name="jobTitle" class="form-control" type="text" id="jobTitle" [(ngModel)]="employee.jobTitle">
        </div>
      </section>
      <section class="row justify-content-end actions">
        <button class="col-sm-2 btn btn-success" (click)="aggiungi1()">Aggiungi</button>
      </section>

    </article>
  </div>
</div>

<button (click)="goToHome()"> Vai alla home</button> -->


<div class="container">
  <!-- Angular crea una proprietà che definisce il form : NgForm -->
  <!-- Template Driven -->
  <form (ngSubmit)="aggiungi1(); form.reset()" class="form" #form="ngForm">
    <fieldset >
      <legend>Anagrafica</legend>
      <div class="form-group">
        <label for="employeeNumber">*Numero dipendente</label>
        <input type="text" id="nome" name="employeeNumber" class="form-control" [(ngModel)] ="employee.employeeNumber" #employeeNumber="ngModel" required minlength="1">
        <div class="error" *ngIf="employeeNumber.touched && !employeeNumber.valid">
          Il campo non può essere vuoto
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Cognome</label>
        <input type="text" id="cognome" name="lastname" class="form-control" [(ngModel)] ="employee.lastName" #lastName="ngModel">
      </div>
      <div class="form-group">
        <label for="firstName">Nome</label>
        <input type="text" id="first" name="firstName" class="form-control" [(ngModel)] ="employee.firstName" #firstName="ngModel">
      </div>
      <div class="form-group">
        <label for="extension">Estensione</label>
        <input type="text" id="extension" name="extension" class="form-control" [(ngModel)] ="employee.extension" #extension="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" [(ngModel)] ="employee.email" #email="ngModel" email required>
      </div>
      <div class="form-group">
        <label for="officeCode">Codice ufficio</label>
        <input type="text" id="officeCode" name="officeCode" class="form-control" [(ngModel)] ="employee.officeCode" #officeCode="ngModel">
      </div>
      <div class="form-group">
        <label for="reportsTo">Riferisce a:</label>
        <input type="text" id="reportsTo" name="reportsTo" class="form-control" [(ngModel)] ="employee.reportsTo" #reportsTo="ngModel" reportsTo required>
      </div>
      <div class="form-group">
        <label for="jobTitle">Titolo lavoro</label>
        <input type="text" id="jobTitle" name="jobTitle" class="form-control" [(ngModel)] ="employee.jobTitle" #jobTitle="ngModel" jobTitle required>
      </div>
    </fieldset>
    <div class="actions">
      <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
      <button type="submit" class="col-sm-2 btn btn-success">Aggiungi</button>
      <!-- <button type="button" (click)="suggerisci(nome.value, cognome.value)">email</button>
        <p [hidden]="form.valid">Compila tutti i campi contrassegnati con un *</p> -->
    </div>
  </form>
  <button (click)="goToHome()"> Vai alla home</button>
</div>
