<!-- <div class="card">
  <div class="card-header">
    <h3>Aggiungi dipendente</h3>
  </div>
  <div class="card-body">
    <article class="container">
      <section class="row">

        <div class="col">
          <label for="nome">Nome</label>
          <input name="nome" class="form-control" type="text" [(ngModel)]="employee.employeeNumber" id="nome">
        </div>

        

      </section>

      
      <section class="row justify-content-end actions">
        <button class="col-sm-2 btn btn-success" (click)="aggiungi()">Aggiungi</button>-->
      <!-- </section>

    </article>
  </div>
</div>  -->