<div class="card">
  <div class="card-header">
    <h3>Aggiungi dipendente</h3>
  </div>
  <div class="card-body">
    <article class="container">
      <section class="row">

        <div class="col my-2">
          <label for="employeeNumber">Numero dipendente</label>
          <input name="employeeNumber" class="form-control" type="text" [(ngModel)]="employee.employeeNumber">
        </div>
        <div class="col my-2">
          <label for="firstName">Nome</label>
          <input name="firstName" class="form-control" type="text" id="firstName" [(ngModel)]="employee.firstName">
        </div>
        <div class="col my-2">
          <label for="lastName">Cognome</label>
          <input name="lastName" class="form-control" type="text" id="lastName" [(ngModel)]="employee.lastName">
        </div>

        <div class="col my-2">
          <label for="extension">Estensione</label>
          <input name="extension" class="form-control" type="text" id="extension" [(ngModel)]="employee.extension">
        </div>
        <div class="col my-2">
          <label for="officeCode">Codice ufficio</label>
          <input name="officeCode" class="form-control" type="text" id="officeCode" [(ngModel)]="employee.officeCode">
        </div>
        <div class="col my-2">
          <label for="email">Email</label>
          <input name="email" class="form-control" type="text" id="email" [(ngModel)]="employee.email">
        </div>

        <div class="col my-2">
          <label for="reportsTo">Riferisce a </label>
          <input name="reportsTo" class="form-control" type="text" id="reportsTo" [(ngModel)]="employee.reportsTo">
        </div>
        <div class="col my-2">
          <label for="jobTitle">Lavoro</label>
          <input name="jobTitle" class="form-control" type="text" id="jobTitle" [(ngModel)]="employee.jobTitle">
        </div>
      </section>
      <section class="row justify-content-end actions">
        <button class="col-sm-2 btn btn-success" (click)="aggiungi1()">Aggiungi</button>
      </section>

    </article>
  </div>
</div>

<button (click)="goToHome()"> Vai alla home</button>
