<div class = "text-center">

    <h1>Dettaglio</h1>
  
  </div>
  
  <app-navbar></app-navbar>
  
  <hr class = "mx-auto" style = "width: 1000px;">

<div class = "text-center container">

    <table class="table">
    
        <thead>
    
            <tr>
    
                <th scope="col"> Codice Prodotto</th>
                <th scope="col"> Nome Prodotto</th>
                <th scope="col"> Tipo Prodotto</th>
                <th scope="col"> Dimensione Prodotto</th>
                <th scope="col"> Venditore </th>
                <th scope="col"> Descrizione</th>
                <th scope="col"> Quantità in magazzino</th>
                <th scope="col"> Prezzo di vendita</th>
                <th scope="col"> Prezzo di listino</th>
    
            </tr>
    
        </thead>
    
        <tbody>
    
            <tr *ngFor = "let prodotto of servizioProdotto.risultato; index as i">
    
                <td>{{prodotto.productCode}}</td>
                <td>{{prodotto.productName}}</td>
                <td>{{prodotto.productLine}}</td>
                <td>{{prodotto.productScale}}</td>
                <td>{{prodotto.productVendor}}</td>
                <td>{{prodotto.productDescription}}</td>
                <td>{{prodotto.quantityInStock}}</td>
                <td>{{prodotto.buyPrice}}</td>
                <td>{{prodotto.MSRP}}</td>
    
            </tr>
    
        </tbody>
    
    </table>

</div>
