<button class="col-sm-1 btn btn-info" (click)="getList()"> Show/Hide employees list</button>
<div class="m-5 col-5" *ngIf="isVisible">
  <h2 class="text-dark">Lista Dipendenti</h2>
<table class="table ">
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col" >Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody *ngFor="let e of dat | async">
      <tr>
        <th>{{e.firstName}}</th>
        <td>{{e.lastName}}</td>
        <td>{{e.email}}</td>
      </tr>
    </tbody>
</table><br>
</div>