<!---Ogni gruppo crei un suo branch col nome dell'entità con cui deve lavorare + il gruppo ( Orders_G4)
Creare model corrispondente con tutti i campi non-nullable(controllare mysql)
Creare servizio che contenga un mock di dati, una lista contenente 2 record.
Definire metodo per prendere tutti gli elementi della lista.
Definire metodi per aggiungere e rimuovere un elemento.
Definire metodo per prendere un determinato record attraverso dei campi, non per forza la primary key.

Creare la pagina Home dove è presente un pulsante che fa apparire nella pagina la tabella contenente tutti i record. Aggiungere nella sezione lista un pulsante che porta al form di inserimento di un nuovo record (non usate il form, lo aggiorneremo quando studieremo i form angular. Cerchiamo di usare bene il model).
Per concludere creare la pagina del dettaglio di un record, che verrà selezionato utilizzando il metodo definito nel servizio precedentemente creato, i parametri deve essere gestiti come query params.--->
<h1>Homepage classicmodels</h1>

<router-outlet></router-outlet>
